################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.codelite
/.ctagsd
/.vscode
/FirstPersonShooter/.vs/FirstPersonShooter
